@charset "utf-8";

body {
  background-color: #2b2b2b;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6N M", "游明朝体", "游明朝", YuMincho,
    "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Noto Serif JP", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
  line-height: 1;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* txt
-----------------------------------*/
.font-min {
  font-family: "FOT-筑紫Aオールド明朝 Pr6N M", "游明朝体", "游明朝", YuMincho,
    "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho",
    serif;
}

/* link
------------------------------------*/
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: 0.15s ease-out;
  -webkit-transform: translateZ(0);
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* header
---------------------------------------------------------------------------*/

header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 140px;
  padding: 65px 0 0 245px;
  font-size: 0;
  letter-spacing: 0 !important;
}

@media (max-width: 500px) {
  header {
    margin: 0 auto 60px;
  }

  body {
    overflow-x: hidden;
  }
}

header .logo {
  position: fixed;
  top: 70px;
  left: 60px;
  z-index: 100;
}

header .logo a {
  display: block;
}

header .logo img,
.gnav a img,
.sns a img {
  display: block;
  transition: 0.4s ease-out;
  opacity: 0.8;
}

/* .gnav
------------------------------------*/
.gnav {
  display: inline-block;
  margin: 0 10px 0 -12px;
}

.gnav li {
  display: inline-block;
}

.gnav a {
  position: relative;
  display: inline-block;
  padding: 10px 12px 15px;
}

.gnav a img.white {
  top: 10px;
  left: 12px;
}

/* .sns
------------------------------------*/
.sns {
  display: inline-block;
  transform: translateY(-5px);
}

.sns li {
  display: inline-block;
}

.sns a {
  position: relative;
  display: inline-block;
  padding: 10px;
}

@media (max-width: 500px) {
  .sns a {
    position: relative;
    display: none;
    padding: 10px;
  }
}

.sns a img.white {
  top: 10px;
  left: 10px;
}

#mainContents {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.contents {
  box-sizing: border-box;
  width: 100%;
  padding: 0 70px 0 245px;
  opacity: 0;
}

@media (max-width: 500px) {
  .contents {
    box-sizing: border-box;
    width: 100%;
    opacity: 0;
    padding: 0 70px 0 0px;
  }
}

#aboutContents.contents,
#galleryContents.contents {
  margin-left: -25px;
}

/* .title-page
------------------------------------*/
.title-page {
  position: fixed;
  color: white;
  top: 73px;
  right: 70px;
  font-size: 19px;
  letter-spacing: 0.15em;
  white-space: nowrap;
  z-index: 100;
}

@media (max-width: 500px) {
  .title-page {
    display: none;
  }
}

/* media query
-----------------------------------*/
@media (max-width: 1300px) {
  .title-page {
    position: absolute;
  }
}

/* page portfolio
---------------------------------------------------------------------------*/
body.portfolio #wrap,
body.portfolio .fnav a {
  color: rgba(255, 255, 255, 0.8);
}

#portfolioContents.contents {
  padding-right: 0;
}

/* .portfolio-list
------------------------------------*/
.portfolio-list-wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
}

.portfolio-list {
  opacity: 0;
}

.portfolio-list article {
  width: 28.5%;
  margin: 0 4.5% 4.5% 0;
}

@media (max-width: 500px) {
  .portfolio-list {
    height: 4000px !important;
  }
  .portfolio-list article {
    width: 96%;
    margin: 0;
  }

  article:nth-of-type(1) {
    left: 2% !important;
  }

  article:nth-of-type(2) {
    left: 2% !important;
    top: 255px !important;
  }

  article:nth-of-type(3) {
    left: 2% !important;
    top: 810px !important;
  }

  article:nth-of-type(4) {
    left: 2% !important;
    top: 1060px !important;
  }

  article:nth-of-type(4) {
    left: 2% !important;
    top: 1060px !important;
  }

  article:nth-of-type(5) {
    left: 2% !important;
    top: 1615px !important;
  }

  article:nth-of-type(6) {
    left: 2% !important;
    top: 1880px !important;
  }

  article:nth-of-type(7) {
    left: 2% !important;
    top: 2135px !important;
  }

  article:nth-of-type(8) {
    left: 2% !important;
    top: 2390px !important;
  }

  article:nth-of-type(9) {
    left: 2% !important;
    top: 2945px !important;
  }

  article:nth-of-type(10) {
    left: 2% !important;
    top: 3500px !important;
  }

  article:nth-of-type(n + 11) {
    display: none;
  }
}

.portfolio-list article > figure {
  background-color: #222222;
  cursor: pointer;
}

.portfolio-list article > figure img {
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  transition: 0.15s linear;
}

.portfolio-list article > figure:hover img {
  opacity: 0.7;
}

/* .sec-abput
------------------------------------*/
.sec-abput {
  width: 1380px;
  margin: auto;
}

@media (max-width: 500px) {
  .sec-abput {
    width: 500px;
    margin: auto;
  }

  .sec-abput .txt,
  .inner {
    color: white;
    text-align: left !important;
  }

  .sec-abput-inner {
    position: relative;
    width: 500px !important;
    margin: 95px auto 0;
  }

  .sns-about {
    margin: 34px 0 0 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    text-align: left !important;
  }
}

.sec-abput-inner {
  position: relative;
  width: 930px;
  margin: 95px auto 0;
}

.sec-abput p {
  margin-left: 10px;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.15em;
}

.sns-about {
  margin: 34px 0 0 10px;
  font-size: 14px;
  letter-spacing: 0.06em;
  white-space: nowrap;
  text-align: center;
}

.sns-about i {
  display: inline-block;
  margin-right: 14px;
  transform: translateY(1px);
}

.sns-about span:first-of-type {
  color: white;
  display: inline-block;
  position: relative;
  margin-right: 23px;
}

.sns-about span:first-of-type:after {
  display: block;
  content: "｜";
  position: absolute;
  top: 0;
  right: -19px;
}

.sec-abput .profile {
  display: -webkit-box;
  display: flex;
  margin-top: 88px;
  justify-content: center;
  margin-bottom: 100px;
}

.sec-abput .profile figure {
  width: 152px;
  min-width: 152px;
}

.sec-abput .profile .inner {
  padding: 13px 0 0 38px;
}

.sec-abput .profile h2 {
  margin-bottom: 32px;
}

.sec-abput .profile h2 em {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.3em;
}

.sec-abput .profile h2 strong {
  display: block;
  margin-left: -1px;
  font-size: 17px;
  letter-spacing: 0.2em;
}

.sec-abput .profile h3 {
  margin-bottom: 13px;
  font-size: 12px;
  letter-spacing: 0.2em;
}

.sec-abput dl {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.16em;
}

.sec-abput dl > div {
  display: -webkit-box;
  display: flex;
  margin-bottom: 3px;
}

.sec-abput dl > div:last-of-type {
  margin-bottom: 0;
}

.sec-abput dt {
  box-sizing: border-box;
  width: 45px;
  min-width: 45px;
  padding-right: 10px;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.sec-abput-inner > figure {
  position: absolute;
  top: 0;
  right: 0;
}

.sec-abput .txt,
.inner {
  color: white;
  text-align: center;
}

.fadein {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s;
}
